<p>
  <a href="{{site.lc_site}}">Library Carpentry</a>
  ist ein bibliothekarisches Projekt von der Community für die Community. In unseren Workshops lernen Sie
</p>
<ul>
  <li>wie man langweilige und fehleranfällige Routineaufgaben automatisieren kann</li>
  <li>die Erstellung, Pflege und Analyse von nachhaltigen und wiederverwendbaren Daten</li>
  <li>die effektive Zusammenarbeit mit IT-Kolleginnen und -kollegen</li>
  <li>den Einsatz von Software in der Forschung besser kennen</li>
  <li>und vieles mehr...</li>
</ul>
<p align="center">
  <em>
    Library Carpentry führt Sie in die Grundlagen der Informatik ein 
    und bietet Ihnen eine Plattform für das weitere selbstgesteuerte Lernen.
    Weitere Informationen über das, was wir unterrichten und warum, finden Sie in unserem Aufsatz
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
