<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Introduction to Data</h3>
    <ul>
      <li>Intro to data</li>
      <li>Jargon busting</li>
      <li>Tastaturkürzel</li>
      <li>Nur-Text-Formate</li>
      <li>Dateien benennen</li>
      <li>Reguläre Ausdrücke</li>
      <li><a href="https://librarycarpentry.github.io/lc-data-intro/reference">mehr...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-r">OpenRefine</h3>
      <ul>
        <li>Einführung in OpenRefine</li>
        <li>Daten importieren</li>
        <li>Basisfunktionen</li>
        <li>Erweiterte Funktionen</li>
        <li><a href="https://librarycarpentry.github.io/lc-open-refine/reference">mehr...</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Die Unix-Shell</h3>
    <ul>
      <li>Dateien und Verzeichnisse</li>
      <li>Historie und Tabulator-Vervollständigung</li>
      <li>Zählen und Sortieren von Inhalten in Dateien</li>
      <li>Pipes und Umlenkung</li>
      <li>Suchen in Dateien</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">mehr...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-git">Versionskontrolle mit Git</h3>
    <ul>
      <li>Ein Repository anlegen</li>
      <li>Git konfigurieren</li>
      <li>Änderungen protokollieren: <code>add</code>, <code>commit</code>, ...</li>
      <li>Änderungen nachverfolgen mit <code>status</code></li>
      <li>Arbeiten im Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Wo Sie ihre Arbeit speichern sollten, und warum</li>
      <li><a href="https://librarycarpentry.github.io/lc-git/reference">mehr...</a></li>
    </ul>
  </div>
</div>